 body {
 margin: 0;
  font-family: arial;
}

.container {
  width: 80%;
  margin: auto;
}

header {
  background-color: aquamarine;
  text-align: center;
  padding: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
  display: flex;
}

header img {
  width: 50%;
}

.conteudo-central {
  display: flex;
}

nav {
  width: 30%;
  background-color: rgb(0, 255, 89);
  padding: 10px;
}

main {
  width: 70%;
  background-color: blueviolet;
  padding: 10px;
  display: flex;
}

section {
  background-color: burlywood;
  padding: 10px;
  width: 60%;
}

footer {
  background-color: red;
  color: white;
 padding: 10 px;
}